@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
html {
  font-size: 62.5%; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

img {
  width: 100%; }

.mobile {
  display: none; }

.logo img {
  width: 10rem; }

h2::first-letter, h3::first-letter, h4::first-letter {
  text-transform: capitalize; }

body {
  font-size: 1.6rem;
  background-color: white;
  font-family: 'Overpass', sans-serif; }

.hero-wrapper {
  border-bottom-left-radius: 10rem;
  background-image: url(../images/bg-pattern-intro-desktop.svg), linear-gradient(90deg, #ff8f70, #ff3d54);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat; }
  .hero-wrapper .hero-content-1 {
    text-align: center;
    color: white;
    padding: 7rem 0 15rem 0; }
    .hero-wrapper .hero-content-1 .content h2 {
      font-size: 7rem; }
    .hero-wrapper .hero-content-1 .content p {
      margin: .5rem 0 2rem 0;
      font-size: 1.9rem; }
    .hero-wrapper .hero-content-1 .buttons-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem; }
      .hero-wrapper .hero-content-1 .buttons-wrapper button {
        border: none;
        outline: none;
        cursor: pointer;
        padding: 1rem 2rem;
        border-radius: 2rem;
        text-transform: capitalize;
        transition: .2s ease-in-out 0s; }
        .hero-wrapper .hero-content-1 .buttons-wrapper button:hover {
          transform: translateY(-0.25rem); }
        .hero-wrapper .hero-content-1 .buttons-wrapper button:active {
          transform: translateY(0); }
        .hero-wrapper .hero-content-1 .buttons-wrapper button.start-for-free {
          background-color: white;
          color: #ff3d54; }
          .hero-wrapper .hero-content-1 .buttons-wrapper button.start-for-free:hover {
            background-color: #c8c8cb94;
            color: white; }
        .hero-wrapper .hero-content-1 .buttons-wrapper button.learn-more {
          background-color: transparent;
          border: 1px solid white;
          color: white; }
          .hero-wrapper .hero-content-1 .buttons-wrapper button.learn-more:hover {
            background-color: white;
            color: #ff8f70; }

header {
  width: 80%;
  margin: auto;
  padding: 4rem 0 2rem 0; }

.toggle {
  display: none; }

ul.navigation {
  display: flex;
  gap: 2rem; }
  ul.navigation li {
    list-style-type: none; }
    ul.navigation li a {
      text-decoration: none;
      color: #fff;
      text-transform: capitalize; }

nav {
  display: flex;
  align-items: center; }
  nav .nav-container {
    display: flex;
    align-items: center;
    gap: 5rem;
    width: 100%; }
    nav .nav-container .navigation-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center; }
    nav .nav-container ul.navigation {
      gap: 3rem; }
      nav .nav-container ul.navigation li {
        position: relative; }
        nav .nav-container ul.navigation li:hover .submenu {
          display: block;
          transition: 5s ease-in-out; }
        nav .nav-container ul.navigation li .main-nav:hover {
          text-decoration: underline; }
        nav .nav-container ul.navigation li .submenu {
          background-color: white;
          position: absolute;
          padding: .5rem;
          border-radius: .25rem;
          display: none; }
          nav .nav-container ul.navigation li .submenu li {
            padding: .5rem; }
          nav .nav-container ul.navigation li .submenu a {
            color: #c8c8cb; }
            nav .nav-container ul.navigation li .submenu a:hover {
              color: #25252d; }
        nav .nav-container ul.navigation li .product-submenu {
          right: -1rem;
          padding-left: 1rem;
          flex-direction: column; }
        nav .nav-container ul.navigation li .connect-submenu {
          right: -3.5rem;
          padding: 1rem 2.5rem 1rem 1rem; }
        nav .nav-container ul.navigation li .company-submenu {
          padding: .6rem 1rem;
          left: -.5rem;
          align-items: flex-start; }
  nav .right-navigation ul li a {
    padding: .8rem 2rem;
    transition: .2s ease-in-out 0s; }
    nav .right-navigation ul li a:hover {
      border-radius: 2.5rem;
      background-color: #c8c8cb94; }

.hero-content-2 {
  padding-left: 10rem;
  padding-top: 10rem; }
  .hero-content-2 h3, .hero-content-2 h4 {
    color: #1f3f5b; }
  .hero-content-2 h3 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: -10rem; }
  .hero-content-2 h4 {
    margin-bottom: 2rem; }
  .hero-content-2 p {
    line-height: 1.4;
    font-size: 1.8rem; }
  .hero-content-2 .flex-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 10rem; }
    .hero-content-2 .flex-container .content {
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      gap: 5rem; }
    .hero-content-2 .flex-container .image-container {
      margin-right: -22rem; }
      .hero-content-2 .flex-container .image-container .desktop {
        width: 80rem; }

.hero-content-3 {
  display: flex;
  align-items: center;
  padding: 0 10rem;
  gap: 10rem;
  background-color: #3f4164;
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
  background-image: url(../images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right; }
  .hero-content-3 .image-container {
    position: relative;
    z-index: 4; }
    .hero-content-3 .image-container img {
      top: 2rem;
      left: 0;
      height: 30rem;
      width: 30rem; }

.hero-content-4 {
  display: flex;
  align-items: center;
  gap: 10rem;
  padding-right: 10rem;
  margin-top: 10rem;
  background-color: #FFFFFE; }
  .hero-content-4 .image-container {
    margin-left: -23rem; }
    .hero-content-4 .image-container .desktop {
      width: 80rem; }
  .hero-content-4 .content {
    display: flex;
    flex-direction: column;
    gap: 5rem; }
  .hero-content-4 h4 {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-size: 1.9rem;
    color: #1f3f5b; }
  .hero-content-4 p {
    line-height: 1.4; }

footer {
  background-color: #25252d;
  display: flex;
  justify-content: space-between;
  padding: 5rem 10rem;
  flex-wrap: wrap; }
  footer ul li {
    list-style-type: none;
    line-height: 2; }
    footer ul li.main-nav {
      margin-bottom: 1.2rem; }
      footer ul li.main-nav a {
        font-weight: 700; }
    footer ul li a {
      text-decoration: none;
      color: white;
      text-transform: capitalize; }
      footer ul li a:hover {
        text-decoration: underline; }

@media screen and (max-width: 750px) {
  .desktop {
    display: none; }
  .mobile {
    display: block; }
  header nav {
    justify-content: space-between; }
  ul.navigation {
    flex-direction: column; }
    ul.navigation li {
      position: static !important; }
      ul.navigation li a {
        color: #25252d; }
      ul.navigation li .submenu {
        background-color: #c8c8cb !important;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 90%; }
        ul.navigation li .submenu a {
          color: #25252d !important; }
      ul.navigation li .product-submenu, ul.navigation li .connect-submenu {
        right: 0 !important; }
      ul.navigation li .company-submenu {
        left: 50% !important; }
  .navigation-wrapper {
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 4rem;
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 30rem;
    padding: 2rem 0;
    display: none !important; }
    .navigation-wrapper .right-navigation {
      border-top: .01rem solid;
      width: 90%; }
      .navigation-wrapper .right-navigation ul {
        text-align: center; }
        .navigation-wrapper .right-navigation ul li .sign-up {
          background-color: red;
          border-radius: 2.5rem;
          color: #fff;
          padding: .8rem 3rem; }
  .toggle {
    display: block; } }
